body {
    overflow-x: hidden;
}

* {
    font-family: 'Baloo Paaji 2', cursive;
    font-weight: 800;
}

#header {
    position: fixed;
    background-image: linear-gradient(to right, rgba(100, 100, 100, 0.1) 0%, rgba(0, 0, 0, 1) 33%), url('../images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    width: 30vw;
    height: 100vh;
}

#header div {
    position: absolute;
    top: 30%;
    width: 70%;
    left: calc(30vw - 80%);
}

#content {
    background-color: black;
    width: 70vw;
    margin-left: 30vw;
}

.repo-card {
    background-color: rgb(17, 17, 17);
    border-radius: 5px;
}

@media screen and (max-width: 1078px) {
    #header {
        position: relative;
        background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.1) 0%, rgba(0, 0, 0, 1) 80%), url('../images/background.png');
        width: 100vw;
        background-size: cover;
        height: 70vh;
        text-align: center;
    }
    #header table {
        display: none;
        margin: auto;
        text-align: left;
    }
    #header div {
        position: absolute;
        top: 10%;
        width: 100%;
        left: 0%;
    }
    #content {
        width: 100vw;
        margin-left: 0;
    }
}